<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>MEEMPREGA - Empregos e estágio em Campinas e região.</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- BASE CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/menu.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">
	<link href="/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
						<h1><a href="index.html" title="Findoctor">MEEMPREGA</a></h1>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<div class="main-menu">
						<ul>
							<li><a href="#0">Início</a></li>
							<li><a href="#0">Sobre</a></li>
							<li><a href="#0">Vagas</a></li>
							<li><a href="#0">Blog</a></li>
							<li><a href="#0">Empresas</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<main>
		<div class="hero_home version_1">
			<div class="content">
				<h3>Encontre o seu emprego!</h3>
				<p>
					Existem 2000 vagas ativas no momento.
				</p>
				<form method="post" action="list.html">
					<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class=" search-query" placeholder="Ex. Administrativo">
							<input type="submit" class="btn_search" value="Buscar">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /Hero -->

		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Últimas <strong>vagas</strong> na região!</h2>
				<p>Estamos torcendo por você..</p>
			</div>

			<div class="divider-text"></div>

			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-8">
						<a href="detail-page.html">
							<div class="strip_list wow fadeIn">
								<a href="#0" class="wish_bt"></a>
								<small><i class="icon-calendar-2"></i> 14/09/2018 <i class="icon-clock-5"></i> 10:18</small>
								<h3>Nutricionista</h3>
								<h5 style="font-size:14px;margin:-8px 0px 10px 0px;">Campinas / SP</h5>
								<p>Academia Corpo e Vida a 22 anos no mercado. localizada proximo ao shopping Unimart está com 1 vaga(s) em aberto para campinas.</p>

								<ul class="icons-info" style="display: flex;justify-content: space-between;">
									<li><center><i class="icon-user-1"></i><br/>2 vagas</center></li>
									<li><center><i class="icon-info-circled-1"></i><br/>Estágio</center></li>
									<li><center><i class="icon-accessibility"></i><br/>PCD</center></li>
								</ul>
							</div>
						</a>

						<a href="detail-page.html">
							<div class="strip_list wow fadeIn">
								<a href="#0" class="wish_bt"></a>
								<small><i class="icon-calendar-2"></i> 14/09/2018 <i class="icon-clock-5"></i> 10:18</small>
								<h3>Nutricionista</h3>
								<h5 style="font-size:14px;margin:-8px 0px 10px 0px;">Campinas / SP</h5>
								<p>Academia Corpo e Vida a 22 anos no mercado. localizada proximo ao shopping Unimart está com 1 vaga(s) em aberto para campinas.</p>

								<ul class="icons-info" style="display: flex;justify-content: space-between;">
									<li><center><i class="icon-user-1"></i><br/>2 vagas</center></li>
									<li><center><i class="icon-info-circled-1"></i><br/>Estágio</center></li>
									<li><center><i class="icon-accessibility"></i><br/>PCD</center></li>
								</ul>
							</div>
						</a>

						<a href="detail-page.html">
							<div class="strip_list wow fadeIn">
								<a href="#0" class="wish_bt"></a>
								<small><i class="icon-calendar-2"></i> 14/09/2018 <i class="icon-clock-5"></i> 10:18</small>
								<h3>Nutricionista</h3>
								<h5 style="font-size:14px;margin:-8px 0px 10px 0px;">Campinas / SP</h5>
								<p>Academia Corpo e Vida a 22 anos no mercado. localizada proximo ao shopping Unimart está com 1 vaga(s) em aberto para campinas.</p>

								<ul class="icons-info" style="display: flex;justify-content: space-between;">
									<li><center><i class="icon-user-1"></i><br/>2 vagas</center></li>
									<li><center><i class="icon-info-circled-1"></i><br/>Estágio</center></li>
									<li><center><i class="icon-accessibility"></i><br/>PCD</center></li>
								</ul>
							</div>
						</a>

						<a href="detail-page.html">
							<div class="strip_list wow fadeIn">
								<a href="#0" class="wish_bt"></a>
								<small><i class="icon-calendar-2"></i> 14/09/2018 <i class="icon-clock-5"></i> 10:18</small>
								<h3>Nutricionista</h3>
								<h5 style="font-size:14px;margin:-8px 0px 10px 0px;">Campinas / SP</h5>
								<p>Academia Corpo e Vida a 22 anos no mercado. localizada proximo ao shopping Unimart está com 1 vaga(s) em aberto para campinas.</p>

								<ul class="icons-info" style="display: flex;justify-content: space-between;">
									<li><center><i class="icon-user-1"></i><br/>2 vagas</center></li>
									<li><center><i class="icon-info-circled-1"></i><br/>Estágio</center></li>
									<li><center><i class="icon-accessibility"></i><br/>PCD</center></li>
								</ul>
							</div>
						</a>

						<p class="text-center"><a href="list.html" class="btn_1 medium">+ vagas</a></p>
					</div>
					<aside class="col-lg-4" id="sidebar">
						<div id="map_listing" class="normal_list">
						</div>
					</aside>
					<!-- /aside -->
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a href="index.html" title="Findoctor">
							<img src="img/big-empregos-logo.jpeg" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Candidatos</h5>
					<ul class="links">
						<li><a href="#0">Início</a></li>
						<li><a href="blog.html">Sobre</a></li>
						<li><a href="#0">Vagas</a></li>
						<li><a href="login.html">Blog</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Empresas</h5>
					<ul class="links">
						<li><a href="#0">Divulgar vagas</a></li>
						<li><a href="#0">Cadastrar</a></li>
						<li><a href="#0">Dúvidas</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Contate-nos</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> contato@bigempregos.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Siga-nos</h5>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<hr>
			<div class="row footer-link">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy footer-link">©2018 BIGempregos.com.br</div>
				</div>
			</div>
		</div>
	</footer>

	<div id="toTop"></div>

	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.min.js"></script>
	<script src="js/functions.js"></script>
</body>
</html>
